# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*
replay_pid*

# Ignorar credenciales y Wallet de Oracle
wallet/

# Ignorar el archivo de contraseñas
config.properties

# Binarios compilados
bin/
*.class

# Archivo de registro de ventas (se genera automáticamente)
src/registroEntradas/RegistroVentas.txt

# Archivo de datos legacy (ya no se usa con Oracle)
datos.dat